# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Environment variables
.env
.venv/

# Terraform
*.tfstate
*.tfstate.*
**/.terraform/*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log

# Logs
logs/
airflow/logs/

# Lock files
uv.lock

# Editor
.vscode/

# Development artifacts
postgres.session.sql

# dbt
target/
dbt_packages/
